<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" id="myInput" placeholder="Password" required><br>
        <!-- <input type="checkbox" onclick="myFunction()" ><p>View password</p><br> -->
        
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}   
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <p>Don't have an account ? <a href="/signup">Signup</a></p>
 
    
</body>
</html>