body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:aquamarine;
    
    
}

h2 {
    margin: 20px;
}

form {
    margin: 20px;
    
}

input {
    padding: 10px;
    margin: 5px;
    width: 250px;
    
}

button {
    padding: 10px 20px;
    background-color:black;
    color:white;
    border-radius: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size:20% ;
}

button:hover {
    background-color:blueviolet;

    
}
