/* feedback/static/feedback/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e1e5f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    margin-top: 20px;
    
}

/* Style for the feedback form */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    padding-left: 12px;
}

input, textarea {
    display: inline-table;
    /* margin-bottom: 15px; */
    padding: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 30%;
    align-self: center;
    margin-top: 15px;

}

/* Style for the success page */
.success-container {
    text-align: center;
    margin-top: 30px;
}

.success-container a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
}

#id_name,#id_message,#id_email{
    width: 100%;
}
h2{
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
}