<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'FeedbackApp/css/style.css' %}">
    
    <title>Feedback Form</title>
</head>
<body>
    <div class="container">
        <h2>ICFOSS - Feedback Form</h2>
        <div class="form-container">
            <form method="post" action="{%url 'feedback_form'%}" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"> Submit Button</button>
            </form>
        </div>
        
    </div>
   
</body>
</html>