<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Submitted</title>
    {% load static %}
    <link rel="stylesheet" type="name/css" href="{%static 'FeedbackApp/css/style.css' %}">

</head>
<body>
    <div class="container">
        <h2> Feedback submitted succesfully</h2>
        <div class="success-container">
            <p> Thank you for your Feedback!</p>
            <a href="{% url 'feedback_form' %}">Add new Feedback</a>
        </div>
            
    </div>
   

</body>

</html>