{% extends 'CRMapp/base.html' %}

{% block content %}


<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>Hello world</h1>

{% else %}
<h1>Login</h1>
<br />

<form method="POST" action="{% url 'homepage' %}">
    {% csrf_token %}

    <div class="mb-3">
        <input type="text" class="form-control" name="username" , placeholder="Username" required>

    </div><br />
    <div class="mb-3">
        <input type="password" class="form-control" name="password" , placeholder="Password" required>
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Login</button>

</form>

</div>

{% endif %}
{% endblock %}