<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Log In">
    </form>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
</body>
</html>
