body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10000 px;
    background-color:#ffe5d9;
}

h1{
    color: #010;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffc8dd;
    text-align: center;
    padding: 1%;
}

ul{
    list-style-type:disc;
    padding: 10px;
    background-color: #ffdab9;
}

li{
    background-color: #ffdab9;
    margin:5px ;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
