body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10000 px;
    background-color:#ffe5d9;
}

h1{
    color: #010;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffc8dd;
    text-align: center;
    padding: 1%;
}


.completed {
    text-decoration:line-through;
    color: #4b3f72;
    font-style: italic;
    
}

form{
    margin-bottom: 3px;
    padding: 10px;
    display: inline;
    
}
label{
    /* display:block; */
    margin-bottom: 5px;
    

}

input[type ="text"],
textarea{
    
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing:border-box;
    border-radius: 100px;
    background-color: #ffcad4;
  
}
button {
    background-color: #d14081;
    color: white;
    padding:10px 15px;
    border-radius: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    
}
a {
    display: block;
    margin-top: 10px;
    color: #a26769;
}

.hari{
 
    display: inline-block;
}