<!DOCTYPE html>
<html>
<head>
    <title>Create Task</title>
    {% load static%}
    <link rel="stylesheet" type="text/css"  href="{% static 'tasks/task.css' %}" >
</head>
<body>
    <h1>Create Task</h1>
    <form method="post" action="{% url 'create_task' %}">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" required><br>
        <label for="description">Description:</label>
        <textarea name="description"></textarea><br>
        <div class="hari" >
            <label for="completed">Completed:</label>
            
            <input type="checkbox" name="completed"><br>
        </div><br>
        <button type="submit">Create Task</button>
    </form>
    <a href="{% url 'task_list' %}">Back to Task List</a>
</body>
</html>
