<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'tasks/new.css' %}" >
</head>
<body>
    <h1>Task List</h1>
    <ul>
        {% for task in tasks %}
            <li> 
                {{task.title}} - {{task.description}}
                {% if task.completed %}
                    (Completed)
                {% else %}
                    (Pending)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_task' %}">Create Task</a>
</body>
</html>